<p>This is the page where you can look at user requests</p>
<p id="error" hidden></p>
{{#if posts.length}}
    <ol>
        {{#each posts}}
            <form id="createpost-form" action="/admin/reviewrequests" method="POST">
            <input type="hidden" name="locationId" value="{{_id}}">
            <button type="submit" name="submit_button" id="submit_button">Approve Review for {{name}}</button>
            </form>
            <li>
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>City: {{city}}</p>
                <p>Region: {{region}}</p>
                <p>Country: {{country}}</p>
                <p>Continent: {{continent}}</p>
                <p>Overall Rating: {{overallRating}}</p>
                <p>Food Rating: {{foodRating}}</p>
                <p>Safety Rating: {{safetyRating}}</p>
                <p>Activity Rating: {{activityRating}}</p>
            </li>
        {{/each}}
    </ol>
{{else}}
    <p class="not-found">We're sorry, but no results were found.</p>
{{/if}}

<script src="/public/js/form_validation.js"></script>
