<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{else}}Home{{/if}} - TripScore</title>
</head> <!-- formalities for html validation -->
<section class="intro-section">
  <h2>What is TripScore?</h2>
  <p>
    TripScore is a website designed to rank and score vacation spots based on users’ experiences at those spots. Each user can create an account to give both an overall score and more detailed ratings—food, safety, cost, weather, activities, and more—all on a 1–5 scale.
  </p>
  <p>
    These ratings are combined on the Leaderboard page, where anyone can view the top vacation spots and filter by location, price, or specific category. Ready to explore?
  </p>
</section>

<section class="homepage-leaderboard">
  <h2 class="page-title">Featured Destinations</h2>
  <div class="destinations-grid">
    {{#if featuredDestinations}}
      {{#each featuredDestinations}}
        <div class="destination-card" data-id="{{this._id}}" data-image="/public/images/destinations/{{this.name}}.jpg" data-name="{{this.name}}">
          <img class="destination-image" alt="{{this.name}}" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="> <!-- this is transparent 1px gif loaded as src just so it can pass html validation -->
          <div class="destination-name">
            {{this.name}}
          </div>
        </div>
      {{/each}}
    {{else}}
      <p class="not-found">No featured destinations at the moment.</p>
    {{/if}}
  </div>
</section>
<script src="/public/js/homepage.js"></script>