<p>This is a page for an individual review</p>

<li>
<h1>{{review.userId}}'s Review</h1>
<p>Vacation Spot: {{review.vacationSpotId}}</p>
<p>Food Rating: {{review.foodRating}}</p>
<p>Safety Rating: {{review.safetyRating}}</p>
<p>Activity Rating: {{review.activityRating}}</p>
<p>Overall Rating: {{review.overallRating}}</p>
<p>Review: {{review.review}}</p>
</li>

<h2>Comments</h2>
{{#if comments.length}}
  <ol>
    {{#each comments}}
      <li>
        <p>Comment ID: {{_id}}</p>
        <p>Commenter: {{userName}}</p>
        <p>Comment: {{comment}}</p>
      </li>
    {{/each}}
  </ol>
{{else}}
  <p class="not-found">We're sorry, but no comments were found for this review.</p>
{{/if}}


<form id="commentreview-form" action="/review/{{review._id}}/comment" method="POST">
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment">
    <button type="submit">Submit Comment</button>
</form>

