<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{else}}Home{{/if}} - TripScore</title>
</head> <!-- formalities for html validation -->

<section class="review-page">
  <div class="review-header">
    <h1 class="page-title">Review by {{review.userId}}</h1>
    <div class="header-actions">
    <button id="btn-back-to-spot" type="button" class="btn-secondary" data-id="{{review.locationId}}" >← Back to Spot</button>
    <button id="share-btn" class="btn-secondary">Share</button>
    </div>
  </div>

  <div id="share-menu" class="share-menu">
    <a href="#" id="twitter-share">Twitter</a>
    <a href="#" id="facebook-share">Facebook</a>
    <a href="#" id="reddit-share">Reddit</a>
  </div>

<div class="review-card">
    <div class="review-ratings">
      <div class="rating"><span class="rating-label">Overall:</span> {{review.overallRating}}</div>
      <div class="rating"><span class="rating-label">Food:</span> {{review.foodRating}}</div>
      <div class="rating"><span class="rating-label">Safety:</span> {{review.safetyRating}}</div>
      <div class="rating"><span class="rating-label">Activity:</span> {{review.activityRating}}</div>
    </div>
  <p class="review-text">{{review.review}}</p>
</div>
</section>
<!-- had to demolish a lot for ajax-->
<section class="comments-section">
  <h2 class="section-title">Comments</h2>
  <!--https://developer.mozilla.org/en-US/docs/Web/HTML/How_to/Use_data_attributes-->
  {{#if review.comments.length}}
    <ul class="comment-list" id="commentsList">
    {{#each review.comments}}
      <div class="comment-item" data-id="{{this._id}}">
            <p>{{this.comment}}</p>
        <small class="comment-meta">by {{this.userId}}</small>
      </div>
    {{/each}}
    </div>
  {{else}}
    <div class="not-found">No comments yet.</div>
  {{/if}}

<p id="comment-error" hidden></p>
<form id="comment-form">

  <input type="hidden" id="reviewId" value="{{review._id}}">
  <input type="hidden" id="UserId" value="{{session.user.userId}}">

  <label for="comment"></label>
  <input type="text" id="comment" name="comment">

  <button type="submit" class="btn-primary">Submit</button>
</form>

</section>
<!--https://stackoverflow.com/questions/52741262/how-to-install-import-and-use-dompurify-in-frontend-js-file-->
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/ajax.js"></script>
<script src="/public/js/form_validation.js"></script>
<script src="/public/js/shareReview.js"></script>
<script src="/public/js/review.js"></script>