<p>This is a page for an individual review</p>

<h1>{{review.userId}}'s Review</h1>

<li>
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>Location: {{location}}</p>
                <p>Overall Rating: {{overallRating}}</p>
                <p>Food Rating: {{foodRating}}</p>
                <p>Safety Rating: {{safetyRating}}</p>
                <p>Activity Rating: {{activityRating}}</p>
                <p>overallRating: {{overallRating}}</p>
            </li>

