<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{else}}Home{{/if}} - TripScore</title>
</head> <!-- formalities for html validation -->

<h1>Profile Page</h1>

<section class="profile-section">
  <h2 class="page-title">Your Profile</h2>
  <div class="profile-info">
    <p><strong>User ID:</strong> {{userId}}</p>
    <p><strong>Name:</strong> {{firstName}} {{lastName}}</p>
    <p><strong>Favorite Place:</strong> {{favoritePlace}}</p>
    <p><strong>Bio:</strong> {{bio}}</p>
  </div>

  <div class="form-actions">
    <a href="/user/profile/edit" class="btn-primary">Edit Profile</a>
  </div>
  <div class="form-actions">
    <form method="POST" action="/user/delete/{{userId}}">
      <button type="submit" class="btn-primary-red">Delete My Account</button>
    </form>
  </div>
</section>
<section class="reviews-section">
  <h2 class="section-title">{{userId}}’s Reviews</h2>
  {{#if reviews.length}}
    <div class="review-list">
      {{#each reviews}}
        <div class="review-item">
          <p class="item-description">{{review}}</p>
          <p class="item-meta">
            <strong>{{locationName}}</strong> —
            Overall: {{overallRating}},
            Food: {{foodRating}},
            Safety: {{safetyRating}},
            Activity: {{activityRating}}
          </p>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="not-found">You haven’t posted any reviews yet.</p>
  {{/if}}
</section>