<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{else}}Home{{/if}} - TripScore</title>
</head> <!-- formalities for html validation -->

<h1 class="page-title">Leaderboard</h1>

<section class="filter-section">
    <h2 class="visually-hidden">Filter Options</h2>
    <form method="GET" action="/leaderboard" id="filter-form" class="filter-form">
    <label>
        Sort by:
        <select name="filter" id="filter">
            <option value="Overall Rating">Overall Rating</option>
            <option value="Food Rating">Food Rating</option>
            <option value="Safety Rating">Safety Rating</option>
            <option value="Activity Rating">Activity Rating</option>
            <option value="Name">Name</option>
        </select>
    </label>
    <label>
        <select name="continentFilter" id="continentFilter">
            <option value="world">All Continents</option>
            <option value="africa">Africa</option>
            <option value="antarctica">Antarctica</option>
            <option value="asia">Asia</option>
            <option value="europe">Europe</option>
            <option value="north america">North America</option>
            <option value="australia">Australia</option>
            <option value="south america">South America</option>
        </select>
    </label>
        <button name="submitButton" id="submitButton" class="btn-primary">Filter</button>
    </form>
    <p class="filter-info">Curretly filtering leaderboard by: {{filterBy}}</p>
</section>

{{#if posts.length}}
<div class="leaderboard-list">
        {{#each posts}}
            <div class="leaderboard-item" data-id="{{this._id}}">
                <h2 class="item-title">{{this.name}}</h2>
                <p class="item-description">{{this.description}}</p>
                <p class="item-meta"> {{this.city}}, {{this.region}}, {{this.country}} &bull; {{this.continent}} </p>
                <div class="item-ratings">
                    <div class="rating"><span class="rating-label">Overall:</span> {{overallRating}}</div>
                    <div class="rating"><span class="rating-label">Food:</span> {{foodRating}}</div>
                    <div class="rating"><span class="rating-label">Safety:</span> {{safetyRating}}</div>
                    <div class="rating"><span class="rating-label">Activity:</span> {{activityRating}}</div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p class="not-found">We're sorry, but no results were found.</p>
{{/if}}

<script src="/public/js/leaderboard.js"></script>