<p>This is the leaderboard page</p>
<p>This is where the more specific leaderboard sorting by location/price/etc </p>
<form method="GET" action="/leaderboard" id="filter-form">
    <select name="filter" id="filter">
        <option value="Overall Rating">Overall Rating</option>
        <option value="Food Rating">Food Rating</option>
        <option value="Safety Rating">Safety Rating</option>
        <option value="Activity Rating">Activity Rating</option>
        <option value="Name">Name</option>
    </select>
    <button name="submitButton" id="submitButton">Filter</button>
</form>
<p>Curretly filtering leaderboard by: {{filterBy}}</p>
<p>{{test}}</p>
{{#if posts.length}}
    <ol id="leaderboard">
        {{#each posts}}
            <li>
                <p><a href="/vacation/{{_id}}">{{name}}</a></p>
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>City: {{city}}</p>
                <p>Region: {{region}}</p>
                <p>Country: {{country}}</p>
                <p>Continent: {{continent}}</p>
                <p>Overall Rating: {{overallRating}}</p>
                <p>Food Rating: {{foodRating}}</p>
                <p>Safety Rating: {{safetyRating}}</p>
                <p>Activity Rating: {{activityRating}}</p>
            </li>
        {{/each}}
    </ol>
{{else}}
    <p class="not-found">We're sorry, but no results were found.</p>
{{/if}}