<p>This is the leaderboard page</p>
<p>This is where the more specific leaderboard sorting by location/price/etc </p>
<form method="GET" action="/leaderboard" id="filter-form"></form>
    <select name="filter" id="filter">
        <option value="overallRating">Overall Rating</option>
        <option value="foodRating">Food Rating</option>
        <option value="safetyRating">Safety Rating</option>
        <option value="activityRating">Activity Rating</option>
        <option value="name">Name</option>
    </select>
    <button name="submitButton" id="submitButton">Submit</button>
</form>
<p>{{test}}</p>
{{#if posts.length}}
    <ol id="leaderboard">
        {{#each posts}}
            <li>
                <a href="/vacation/{{_id}}">Click me to see full {{name}} page!</a>
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>City: {{city}}</p>
                <p>Region: {{region}}</p>
                <p>Country: {{country}}</p>
                <p>Continent: {{continent}}</p>
                <p>Overall Rating: {{overallRating}}</p>
                <p>Food Rating: {{foodRating}}</p>
                <p>Safety Rating: {{safetyRating}}</p>
                <p>Activity Rating: {{activityRating}}</p>
            </li>
        {{/each}}
    </ol>
{{else}}
    <p class="not-found">We're sorry, but no results were found.</p>
{{/if}}