<p>This is the leaderboard page</p>
<p>This is where the more specific leaderboard sorting by location/price/etc </p>
<p>{{test}}</p>
{{#if posts.length}}
    <ol>
        {{#each posts}}
            <li>
                <a href="/vacation/{{_id}}">Click me to see full {{name}} page!</a>
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>Location: {{location}}</p>
                <p>Overall Rating: {{overallRating}}</p>
                <p>Food Rating: {{foodRating}}</p>
                <p>Safety Rating: {{safetyRating}}</p>
                <p>Activity Rating: {{activityRating}}</p>
            </li>
        {{/each}}
    </ol>
{{else}}
    <p class="not-found">We're sorry, but no results were found.</p>
{{/if}}